@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');

#root {
  height: 100%;
}

body, html {
  height: 100%;
}

body {
  background-color: #282c34;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: "14px";
  line-height: "1.25em";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: 'Rubik', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
